<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-group">
                  <label for="exampleInputEmail1">Username</label>
                  <input type="text" class="form-control" formControlName="username"/>
                </div>
                <div class="alert alert-danger" 
                *ngIf="username && username.invalid && username.touched" >
                  This field is required!
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" formControlName="password">
                </div>
                <div class="alert alert-danger" 
                *ngIf="password && password.invalid && password.touched" >
                  This field is required!
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
              </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div> -->




<div class="login-box" [formGroup]="loginForm" (ngSubmit)="login()">
  <h2>Login</h2>
  <form>

    <div class="user-box">
      <input type="text"  formControlName="username">
      <label > Username</label>
    </div>
    <div class="alert alert-danger" *ngIf="username && username.invalid && username.touched">
      This field is required!
    </div>

    <div class="user-box">
      <input type="password" formControlName="password">
      <label for="exampleInputPassword1">Password</label>
    </div>
    <div class="alert alert-danger" *ngIf="password && password.invalid && password.touched">
      This field is required!
    </div>
    <!-- <button  type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button> -->
    <button class="submit_btn" [disabled]="loginForm.invalid">
      <span></span>
      <span></span>
      Submit
    </button>
  </form>
  <a>If you do not have an account yet... <a routerLink="/register">Sign Up</a></a>
</div>