<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <form [formGroup]="createStoryForm" (ngSubmit)="createStory()">
                <div class="mb-2">

                    <label for="exampleInputEmail1" class="form-label">Title</label>
                    <input type="text" class="form-control" formControlName="title">
                </div>
                <div class="alert alert-danger" *ngIf="title && title.invalid && title.touched">
                    This field is required!
                </div>
                <div class="mb-2" class="form-group textarea-border-focus">
                    <label for="exampleInputEmail1" class="form-label ">Story</label>
                    <textarea class="form-control" formControlName="fullStory" rows="5"
                        placeholder="Копирай историята си тук!"></textarea>
                </div>
                <div class="alert alert-danger" *ngIf="fullStory && fullStory.invalid && fullStory.touched">
                    This field is required!
                </div>
                <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">Image Url</label>
                    <input type="text" class="form-control" formControlName="imageUrl">
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="createStoryForm.invalid">Submit</button>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>